.app__container {
  background-color: #f5f5f5;
  padding-top: 2rem;
  border-bottom: 5px solid $primary-color;
}

.sidebar-category {
  &__heading {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $border-gray-color;
  }

  &__icon {
    margin-right: 8px;
    font-size: $text-sm;
  }

  &__list {
    padding: 1rem;
  }

  &__item.active &__link {
    color: $primary-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 4px solid;
      border-color: transparent transparent transparent $primary-color;
    }
  }

  &__link {
    display: block;
    padding: 8px 1rem;
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}

// Mobile category
.mobile-category {
  display: none;
  padding-top: 10px;
  align-items: center;

  &__list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex-shrink: 0;
    margin-right: 10px;

    &:nth-of-type(3n + 1) .mobile-category__link {
      background-color: #87afd8;
    }

    &:nth-of-type(3n + 2) .mobile-category__link {
      background-color: #76c9bd;
    }

    &:nth-of-type(3n + 3) .mobile-category__link {
      background-color: #88cf81;
    }
  }

  &__link {
    $line-height: 1.3rem;
    display: block;
    padding: 0 2px;
    text-decoration: none;
    color: $white-color;
    width: 110px;
    height: 40px;
    font-size: $text-base;
    text-align: center;
    border-radius: 3px;
    line-height: 1.3rem;
    height: $line-height * 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

// Home filter

.home-filter {
  display: flex;
  align-items: center;
  background-color: #ededed;
  padding: 12px 1rem;
  border-radius: 2px;

  &__label {
    margin-right: 8px;
    font-size: $text-base;
  }

  &__btn {
    margin: 0 4px;
  }

  &__price-select {
    min-width: 200px;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: $white-color;
    padding: 9px 18px;
    border-radius: 2px;
    font-size: $text-base;
    font-weight: $font-normal;
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
    z-index: 1;

    position: relative;

    &:hover .home-filter__price-option {
      display: block;
    }
  }

  &__price-option {
    display: none;
    position: absolute;
    background-color: $white-color;
    top: calc(100% + 1px);
    right: 0;
    left: 0;
    animation: fadeIn ease 0.2s;

    &__item {
      padding: 0.75rem 1rem;
      font-size: $text-base;
      text-align: left;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// Sort bar mobile
.sort-bar-mobile {
  position: fixed;
  top: $header-height - $navbar-height;
  right: 0;
  left: 0;
  background-color: $white-color;
  display: flex;
  height: 38px;
  z-index: 1;
  @include box-shadow-sm;

  &__item {
    position: relative;
    flex: 1;
    text-align: center;
    line-height: 38px;
    font-size: $text-base;

    &:first-child::before {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 60%;
      background-color: $border-gray-color;
    }

    &.active {
      color: $primary-color;
    }
  }
}

.page-controller {
  margin-left: auto;
  display: flex;
  align-items: center;

  &__num {
    font-size: $text-base;
    padding: 0 1rem;
  }

  &__btn {
    padding-left: 14px;
    padding-right: 14px;
  }
}

// Product

.product {
  position: relative;
  display: block;
  text-decoration: none;
  color: $text-color;
  background-color: $white-color;
  border-radius: 2px;
  margin-top: 14px;
  transition: transform ease-in 0.1s;
  will-change: transform;
  @include box-shadow-xs;

  &:hover {
    transform: translateY(-1px);
    @include box-shadow-sm;
  }

  &__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__body {
    padding: 8px;
  }

  &__name {
    font-size: $text-xs;
    line-height: 1rem;
    height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__prices {
    margin: 8px 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  &__old-price {
    font-size: $text-sm;
    color: #808080;
    text-decoration: line-through;
    margin-right: 2px;
  }

  &__sale-price {
    color: $primary-color;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $text-xs;
    margin-bottom: 8px;
  }

  &__like.active &__icon-like-fill {
    display: inline-block;
  }
  &__like.active &__icon-like-empty {
    display: none;
  }

  &__icon-like-fill {
    display: none;
    color: #f53d2f;
  }

  &__rating {
    font-size: 0.5rem;
    margin-left: auto;
    margin-right: 5px;
    color: #ffce3d;
  }

  &__origin {
    text-align: right;
    font-size: $text-xs;
  }

  // product badge
  &__fav-badge {
    position: absolute;
    top: 8px;
    left: -4px;
    background-color: $primary-color;
    color: $white-color;
    font-size: $text-xs;
    line-height: 0.8rem;
    padding: 2px 3px;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      border-top: 4px solid $primary-color;
      border-left: 4px solid transparent;
      filter: brightness(0.7);
    }
  }

  &__sale-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: $text-xs;
    $current-color: rgba(255, 216, 57, 0.95);
    background-color: $current-color;
    text-align: center;
    // padding: 2px 3px;
    width: 34px;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      border-width: 0 17px 6px;
      border-style: solid;
      border-color: transparent $current-color transparent $current-color;
    }
  }

  &__sale-percent {
    color: $primary-color;
  }

  &__sale-label {
    color: $white-color;
  }
}

.home__pagination {
  margin: 44px 0;
}
